.home-container,
.levels-container,
.game-container,
.profile-container{
  background-color: #151b23;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  gap: 15px;
  margin-top: 80px;
}

.home-container{
  max-width: 600px;
  margin: 0 auto;
  margin-top: 80px;
}

.header-container{
  padding-top: 15px;
  background-color: #151b23;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container header{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
}

.header-container a{
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-container a:hover{
  color: #facc15; 
  transition: all .4s ease;
}

.start-game-btn{
  background-color: #facc15;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 28px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.start-game-btn:hover{
  background-color: #ffdb4d;
  transform: scale(1.1);
}

.start-game-btn:active{
  background-color: #e6b800;
  transform: scale(1);
}

.level-card {
  background-color: #273241;
  border-radius: 12px;
  padding: 20px 12px;
  cursor: pointer;
  text-align: center;
}

.level-card:hover {
  background-color: #344459;
  transition: all 0.3s ease;
}

.level-card.locked {
  background-color: #151b23;
  color: gray;
  border: 2px solid gray;
  cursor: not-allowed;
}

.code-editor-container {
  width: 80%;
  max-width: 800px;
  background-color: #151b23;
  border: 2px solid #273241;
  border-radius: 10px;
  padding: 10px;
}

.task-container {
  background-color: #2a3748;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.task-title {
  font-size: 22px;
  color: #facc15;
}

.task-desc {
  font-size: 18px;
  color: #ccc;
  margin-top: 10px;
}

.task-hints {
  margin-top: 15px;
  padding: 10px;
  background-color: #1d2531;
  border-left: 5px solid #facc15;
  border-radius: 5px;
}

.task-hints h3 {
  font-size: 18px;
  color: #facc15;
}

.task-hints ul {
  list-style: none;
  padding-left: 10px;
}

.task-hints li {
  font-size: 16px;
  color: #bbb;
  margin-top: 5px;
}

.progress-container {
  width: 80%;
  max-width: 800px;
  height: 20px;
  background-color: #273241;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #facc15;
  transition: width 0.5s ease-in-out;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  line-height: 20px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background-color: #273241;
  border-radius: 10px;
  max-width: 300px;
  max-height: 500px;
  margin: 50px auto;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #facc15;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
}

.username-input {
  background: none;
  border: 1px solid #facc15;
  color: white;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.username-input:focus {
  outline: none;
  border-color: #ffdb4d;
}

.check-button{
  background-color: #facc15;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.check-button:hover{
  background-color: #d2b541;
  transform: scale(1.03);
}

.cm-content {
  text-align: left !important;
}

.congrats-container{
  margin-top: 80px;
}